* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.title {
    padding: 30px;
    text-align: center;
}

.book-card {
    background-color: chocolate;
    width: 400px;
    height: 170px;
    border-radius: 7px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    color: white;
}

.book-remove {
    background-color: red;
    height: 40px;
    width: 40px;
    border: 5px solid red;
    border-radius: 5px;
    color:white;
    font-size: 1.5rem;
}

.container {
    display: flex;
    justify-content: right;
}

.add {
    background-color: green;
    color: white;
    height: 40px;
    width: 100px;
    border: 2px solid green;
    border-radius: 7px;
    text-align: center;
    margin: 10px;
}
